.wrapper {
	background-color: lightblue;
	position: relative;

}										

.content {
	background-color: lightslategray;
	position: absolute;
	left:35%;
	right: 35%;
	border: 5px inset black;
}

#header {
	text-align: center;
	font-family:'Acme', sans-serif;
}	

#timezone {
	display: block;
}

section div {

	position: relative;
	right:20%;
	left:20%;
	margin-bottom: 1em;
	width: 50%;
}

select {
	width:50%;
	margin-bottom: 1.5em;
}

#textmessage {
	width: 100%;
	margin-left: -20%;

}

#message {
	width:100%;
	margin-bottom:10em;
	height: 10em;
}

textarea {
	resize: none;
	width: 100%;
	border: 2px outset black;
}

#email {
	width:80%;
}

#emailfield {
	width:80%;
}

#submitbutton {
	position: relative;
	width:20%;
	left:40%;
	right:40%;
}

.button {
  display: inline-block;
  outline:none;
  margin-top:0;
  width:10%;
  margin-bottom:2%;
 float:right;
  background-color: lightslategrey;
  border: none;
  padding: 10px;
  border-radius: 15px;
  text-align: center;
  text-decoration: none;
  font-weight: 900;
  font-size: 15px;
  line-height: 30px;
  color: black;
  box-shadow: 0 8px 16px 0 rgba(0,0,0,0.2), 0 6px 20px 0 rgba(0,0,0,0.19);
}

.button:hover{
	background-color:red;
	cursor:pointer;
}

@media (max-device-width:1024px){
	body{
		background-color:blue;
	}
}

@media (max-device-width:600px){
	body{
		background-color:skyblue;
	}
}

@media (max-device-width:360px){
	body{
		background-color:slateblue;
	}
}

@media (max-device-width:360px) and (min-device-height:400px),
	   (max-device-width:600px) and (min-device-height:400px),
	   (max-device-width:1024px) and (min-device-height:400px){
  
  .button{
  	position:relative;
  	top:120vh;
  	width:50%;
  	left:-7em;
  	font-size:2em;
  }

  .content{
  	left:0;
  	right:0;
  	height:115vh;
  }

  h1{
  	font-size:3em;
  }

  label{
  	font-size:3.5em;
  }

  select{
  	font-size:1.5em;
  }

  input{
  	font-size:1.5em;
  }

  textarea{
  	font-size:3em;
  }
  }