html {
	background-color: lightseagreen;

}

.wrapper {
	position: relative;
}

.content {
	position: absolute;
	background-color: teal;
	border: 5px ridge green ;
	width: 50%;
	left: 25%;
	right: 25%;
}

label {
	position: relative;
	display: block;
	left: 40%;
	font-size: 1.5em;
}

.categories, input{
	position: relative;
	width: 50%;
	left: 25%;
	right: 25%;
	height: 2.5em;
	margin-bottom: 2.5em;
	font-weight: 600;
}

#button {
  display: inline-block;
  background-color: seagreen;
  border: none;
  padding: 10px;
  border-radius: 15px;
  text-align: center;
  text-decoration: none;
  font-weight: 900;
  font-size: 15px;
  line-height: 30px;
  color: yellow;
  box-shadow: 0 8px 16px 0 rgba(0,0,0,0.2), 0 6px 20px 0 rgba(0,0,0,0.19);
  outline: none;
}

input#button:hover {
	background-color: lime;
	color:orangered;
}

h1 {

	text-align: center;
}

.back-button {
  display: inline-block;
  outline:none;
  width:10%;
  margin-bottom:2%;
 float:right;
  background-color: darkslategrey;
  border: none;
  padding: 10px;
  border-radius: 15px;
  text-align: center;
  text-decoration: none;
  font-weight: 900;
  font-size: 15px;
  line-height: 30px;
  color: white;
  box-shadow: 0 8px 16px 0 rgba(0,0,0,0.2), 0 6px 20px 0 rgba(0,0,0,0.19);
}

.back-button:hover{
	background-color:red;
	cursor:pointer;
}

@media (max-device-width:1024px){

  html{
    background-color:black;
  }

  .back-button{
    display: block;
    outline:none;
    width:50%;
    margin-bottom:2%;
    position:absolute;
    top:40vw;
    left:10vw;
  }

}

@media (max-device-width:600px){
  
  html{
    background-color:navy;
  }

  .back-button{
  display: block;
  outline:none;
  width:50%;
  margin-bottom:2%;
  position:absolute;
  top:40vw;
  left:10vw;
}

}

@media (max-device-width:360px){

  html{
    background-color:green;
  }


  .back-button{
  display: block;
  outline:none;
  width:50%;
  margin-bottom:2%;
  position:absolute;
  top:40vw;
  left:10vw;
}

}
